---
import Navigation from '../components/Navigation.astro'
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <Navigation />
    
    <h1>Blog</h1>

    <ul>
        <li><a href="/posts/post-1">post 1</a></li>
        <li><a href="/posts/post-2">post 2</a></li>
    </ul>
</body>
</html>